.app__navbar{
    background: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0 2rem;

    position: relative;
}

.app__navbar-logo img{
    width: 210px;
}

.app__navbar-links{
    list-style: none;
    display: flex;
}

.app__navbar-links li{
    margin: 0 .5rem;
}

.app__navbar-login{
    display: flex;
}

.app__navbar-login_dash{
    background: var(--color-grey);
    height: 30px;
    width: 1px;
    margin: 0 1rem;
} 

.app__navbar-links li:hover{
    color: var(--color-grey);
}

.app__navbar-smallscreens{
    position: relative;
    display: none;
}

.app__navbar-smallscreens .overlay__open{
    font-size: 27px;
    color: var(--color-white);
}

.app__navbar-smallscreens_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: var(--color-black);
    transition: 0.5s ease;
    flex-direction: column;
    z-index: 999;
    display: none; 
}


.app__navbar-smallscreens_overlay .overlay__close{
    font-size: 27px;
    color: var(--color-golden);
    position: fixed;
    top: 20px;
    right: 5%;
}

.app__navbar-smallscreens-links{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.app__navbar-smallscreens ul li{
    color: var(--color-golden);
    font-family:var(--font-base);
    margin: 1rem 0;
   
}

@media screen and (max-width:800px){
    .app__navbar-logo img{
        width: 150px;
    }

   .app__navbar-links{
       display: none;
   } 

   .app__navbar-smallscreens{
       display: flex;
   }

}

@media screen and (max-width:700px){
    .app__navbar-login{
        display: none;
    }
}

